.bottom-nav{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
   bottom: 1rem;
    width: 95vw;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    
}
.bottom-nav_item_active{
    color: #D01C1F;
        font-weight: bold;
    
}
.bottom-nav_item:hover{
    cursor: pointer;
}
.bottom-nav_item{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-nav_item:hover{
    color: #D01C1F;
    font-weight: bold;
}
.bottom-nav_item p {
    font-size: 1rem;
}